* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../imgs/home.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    font-family: calibri;
}

.box {
    width: 400px;
    height: 400px;
    padding: 70px 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    color: #191919;
    text-align: center;
    box-sizing: border-box;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right: 150px;
    left: calc(50% -50px);
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

    .box input[type="text"]:focus, .box input[type="password"]:focus {
        width: 280px;
        border-color: #4cff00;
    }


    .box input[type="text"]:focus, .box input[type="password"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

    .box input[type="submit"]:hover {
        background: #2ecc71;
    }
